@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Titan+One&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
  
body{
    background-image: url(../img/backgrounds/bubble.png);
    background-repeat: repeat;
}
main section{
    box-sizing: border-box;
}
.p{
    color: rgb(0, 0, 0);
    font-weight: auto;
    font-size: 25px;
    line-height: 16px;
    text-decoration: none;
}
.text-center{
    text-align: center;
}
nav{
    box-sizing: border-box;
    width: 100%;
    background-color: grey;
    padding: 10px 20px;
    height: auto;
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    nav img{
        width: 120%;
    }
    nav ul{
        list-style: none;
        display: flex;
    } 
        nav ul li{
           margin-right: 8px;
           
           
}
        nav ul li a{
            font-family: 'Titan One', cursive;
            font-size: medium;
            text-decoration: none;
            color: #ffffff;
}
h1{
    font-size: 3rem;
    color: brown;   
    font-weight: 350;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    text-transform: capitalize;
}
h2{
    font-size: 2.3rem;
    color: brown;   
    font-weight: 300;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    text-transform: capitalize;
}
h3{
    font-size: 1.5rem;
    color: brown;   
    font-weight: 200;
    font-family: 'Titan One', cursive;
    text-decoration: none;
    text-transform: capitalize;
}
header img{
    width: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(155, 155, 155);
    height: auto;
    margin: 20px;
    padding: 10px 20px;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
.productos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    justify-content: space-between;
}
    .productos figure{
        width: 30%;
        padding: 10px 20px;
        border:solid 1px;
        border-radius: 5px;
        background-color: gray;
    }
        .productos figure figcaption{
            color: #fffdfd;
            font-family: 'Titan One', cursive;
            font-size: 1.5rem;
        }
            .productos figure img{
                width: 50%;
            }
                .productos figure button{
                    background-color: rgb(73, 72, 72);
                    color: rgb(255, 254, 254);
                    border: none;
                    border-radius: 5px;
                    padding: 2px 2px;
                    margin-top: 10px; 
                }
                .productos figure button:hover{
                    background-color: brown;
                }
                    .productos figure ul li{
                    list-style: none;
                    }
section h2{
    display: flex;
    justify-content: center;
}
footer{
    background-color: gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    footer svg{
    width: 30px;
    margin: 5px;
    fill: #fbfdfb;
    }
        footer a{
            text-decoration: none;
        }
            footer div section svg{
                display: flex;
                align-items: center;
            }

/*MI CUENTA*/

.form-registrarse{
    background-color: #fbfdfb;
    padding: 10px 20px;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: gray;
    box-shadow: 0px 0px 10px black;
}
    .form-registrarse h2{
    text-align: center;
    }
     .form-acceder{
        background-color: #fbfdfb;
        padding: 10px 20px;
        width: 25%;
        margin-top: 40px;
        margin-bottom: 50px;
        border-style: solid;
        border-color: gray;
        box-shadow: 0px 0px 10px black;
}
     
.form-container{
    width: 95%;
}
    .input-container{
    font-size: 1.3rem;
    color: brown;
    text-align: center;
    border: solid 1px gray;
    margin-bottom: 10px;
    padding: 10px;
}
input[type="text"]{
    font-size: 1rem;
    border: none;
    width: 90%;
}
input[type="date"]{
    font-size: 1rem;
    border: none;
    width: 90%;
}
input[type="tel"]{
    font-size: 1rem;
    border: none;
    width: 90%;
}
input[type="email"]{
    font-size: 1rem;
    border: none;width: 90%;
}
input[type="password"]{
    font-size: 1rem;
    border: none;
    width: 90%;
}
input[type="submit"]{
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: brown;
    border-radius: 5px;
    border: none;
}
input[type="submit"]:hover{
    background-color: rgb(196, 96, 96);
    font-weight: 700;
}
    .form-acceder h2{
        text-align: center;
        margin: 15px;
        padding: 15px;
    }
.formulario{
    display: flex;
    justify-content: space-between
}

/*NOSOTROS*/

.contenedor-n{
    margin: 20px;
    padding: 10px 20px;
    width: 90%;
}
.nosotros{
    display: flex;
    justify-content: space-evenly;
}
.nosotros-t{
    font-family: 'Titan One', cursive;
    font-size: 2.5rem;
    color: brown;
    
}
.nosotros-p{
    width: 70%;
    text-align: justify;
}
.nosotros-p-p{
   font-size: 20px;

}
.nosotros-img{
    width: 20%;
    padding-left: 10%;
}
.nosotros-img-img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    
}
.nosotros-dos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.nosotros-p-dos{
    width: 70%;
    text-align: justify;
    margin-left: 20px;
}
.nosotros-p-p-dos{
    font-size: 20px;
}
.nosotros-img-dos{
    width: 20%;
    padding-right: 10%;
    
}

    
